<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/frontend.css"

    <title></title>
</head>
<body>
<div class="textbox">
    <h1>
        Pamflet De Cuello
    </h1>
</div>

<div class="textboxUnder">
    <h2>Bottleneck and stuff like that. <br>I dont really know what to put here, but w/e.</h2>
</div>

<div class="container">

    <div class="form">
        <input type="text" class="text" placeholder="Enter your username"> <br>
        <input type="password" class="password" placeholder="Password"> <br>
        <button>
            Log in
        </button>
    </div>


</div>

</div>
</body>
</html>


**************CSS*************

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500');
*{
padding: 0;
margin: 0;
list-style: none;
text-decoration: none;
background-color: rgb(209, 243, 255);
}
body {
font-family: 'Roboto', sans-serif;
}

.textbox {
margin-top: 300px;
margin-left: 200px;
color: rgb(255, 144, 48);
font-size: 28px;
}

.textboxUnder {
margin-top: 0px;
margin-left: 200px;
font-size: 14px;
}

.container {
background-color: white;
width: 390px;
height: 300px;
margin-top: -194px;
margin-right: 160px;
float: right;
border-radius: 12px;
text-align: center;
}

.form {
margin-top: -10px;
padding: 25px;
background-color: white;
border-radius: 8px;
}

.form input {
padding: 20px;
width: 310px;
margin-top: 10px;
margin-right: -10px;
margin-left: -10px;
border-radius: 8px;
font-size: 12px;
}

.form button {
margin-top: 5px;
margin-left: -5px;
border-radius: 8px;
padding: 16px;
background-color: rgb(255, 144, 48);
width: 100%;
color: white;
font-size: 20px;
}